02 - Codigo/BrandAnalytics/BrandAnalytics/Service References/TwitterSpyService/TwitterSpyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1430/TwitterSpyService.xamlx?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1430/TwitterSpyService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1430/TwitterSpyService.xamlx?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TwitterSpy.Models" />
  <xs:element name="SpyTopics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topics" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="duration" type="q2:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpyTopicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TwitterSpy.Models" minOccurs="0" name="SpyTopicsResult" nillable="true" type="q3:ReportModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>