02 - Codigo/BrandAnalytics/BrandAnalytics/Service References/TwitterSpyService/TwitterSpyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TwitterSpy.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TwitterSpy.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1430/TwitterSpyService.xamlx?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authors" type="xs:int" />
      <xs:element minOccurs="0" name="Terms" nillable="true" type="tns:ArrayOfReportTermModel" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Topics" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Tweets" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportModel" nillable="true" type="tns:ReportModel" />
  <xs:complexType name="ArrayOfReportTermModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportTermModel" nillable="true" type="tns:ReportTermModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportTermModel" nillable="true" type="tns:ArrayOfReportTermModel" />
  <xs:complexType name="ReportTermModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportTermModel" nillable="true" type="tns:ReportTermModel" />
</xs:schema>