02 - Codigo/BrandAnalytics/BrandAnalytics.Web/Service References/BrandAnaliticsInternal/BrandAnalyticsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrandAnalyticsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1428/BrandAnalyticsService.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1428/BrandAnalyticsService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1428/BrandAnalyticsService.xamlx?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrandAnalyticsClientService_GetState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetState" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsClientService_GetState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsClientService_RequestStudy_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestStudy" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsClientService_RequestStudy_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestStudyResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsClientService_CancelStudy_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelStudy" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsClientService_CancelStudy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelStudyResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsInternalService_SpyTopics_InputMessage">
    <wsdl:part name="parameters" element="tns:SpyTopics" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsInternalService_SpyTopics_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpyTopicsResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsInternalService_RepeatSpyTopics_InputMessage">
    <wsdl:part name="parameters" element="tns:RepeatSpyTopics" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsInternalService_RepeatSpyTopics_OutputMessage">
    <wsdl:part name="parameters" element="tns:RepeatSpyTopicsResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsInternalService_Finalize_InputMessage">
    <wsdl:part name="parameters" element="tns:Finalize" />
  </wsdl:message>
  <wsdl:message name="IBrandAnalyticsInternalService_Finalize_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBrandAnalyticsClientService">
    <wsdl:operation name="GetState">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandAnalyticsClientService/GetState" message="tns:IBrandAnalyticsClientService_GetState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandAnalyticsClientService/GetStateResponse" message="tns:IBrandAnalyticsClientService_GetState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestStudy">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandAnalyticsClientService/RequestStudy" message="tns:IBrandAnalyticsClientService_RequestStudy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandAnalyticsClientService/RequestStudyResponse" message="tns:IBrandAnalyticsClientService_RequestStudy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelStudy">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandAnalyticsClientService/CancelStudy" message="tns:IBrandAnalyticsClientService_CancelStudy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandAnalyticsClientService/CancelStudyResponse" message="tns:IBrandAnalyticsClientService_CancelStudy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IBrandAnalyticsInternalService">
    <wsdl:operation name="SpyTopics">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandAnalyticsInternalService/SpyTopics" message="tns:IBrandAnalyticsInternalService_SpyTopics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandAnalyticsInternalService/SpyTopicsResponse" message="tns:IBrandAnalyticsInternalService_SpyTopics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RepeatSpyTopics">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandAnalyticsInternalService/RepeatSpyTopics" message="tns:IBrandAnalyticsInternalService_RepeatSpyTopics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandAnalyticsInternalService/RepeatSpyTopicsResponse" message="tns:IBrandAnalyticsInternalService_RepeatSpyTopics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Finalize">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandAnalyticsInternalService/Finalize" message="tns:IBrandAnalyticsInternalService_Finalize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandAnalyticsInternalService/FinalizeResponse" message="tns:IBrandAnalyticsInternalService_Finalize_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBrandAnalyticsClientService" type="tns:IBrandAnalyticsClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetState">
      <soap:operation soapAction="http://tempuri.org/IBrandAnalyticsClientService/GetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestStudy">
      <soap:operation soapAction="http://tempuri.org/IBrandAnalyticsClientService/RequestStudy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelStudy">
      <soap:operation soapAction="http://tempuri.org/IBrandAnalyticsClientService/CancelStudy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IBrandAnalyticsInternalService" type="tns:IBrandAnalyticsInternalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SpyTopics">
      <soap:operation soapAction="http://tempuri.org/IBrandAnalyticsInternalService/SpyTopics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RepeatSpyTopics">
      <soap:operation soapAction="http://tempuri.org/IBrandAnalyticsInternalService/RepeatSpyTopics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Finalize">
      <soap:operation soapAction="http://tempuri.org/IBrandAnalyticsInternalService/Finalize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrandAnalyticsService">
    <wsdl:port name="BasicHttpBinding_IBrandAnalyticsClientService" binding="tns:BasicHttpBinding_IBrandAnalyticsClientService">
      <soap:address location="http://localhost:1428/BrandAnalyticsService.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IBrandAnalyticsInternalService" binding="tns:BasicHttpBinding_IBrandAnalyticsInternalService">
      <soap:address location="http://localhost:1428/BrandAnalyticsService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>